* {
    padding: 0;   
    margin: 0;
}

body {
    display: flex;
    justify-content: center; align-items: center;
    height: 100vh;
    background-color: grey;
}

main {
    flex: 0 0 auto;
    width: 500px;
    height: 600px;
}

main .notes {
    text-align: center;
    font-size: 1.3rem;
    &>h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    &>p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }

    margin-bottom: 10px;
}



main .container {
    height: 95%;
    width: 95%;
    margin: auto;
}

main .canvas {
    height: 82.394%;
    border: 3px black solid;
    margin-bottom: 20px;
    background-color: white;
}

main .ctrls {
    display: flex;
    gap: 20px;
    & > * {
        flex: 1;
    }
}

.ctrls input {
    background-color: white;
    border: 2px black solid;
    border-radius: 5px;
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
}

.ctrls input[type=color] {
    flex: none;
    width: 50px;
    border-radius: 50%;
}
.ctrls input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
    border-radius: 50%;
}
.ctrls input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.tile:hover {
    border: 1px grey solid;
    box-sizing: border-box;
}
